name: Generate Profile SVGs
on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
    - name: Default metrics
      uses: lowlighter/metrics@latest
      with:
        filename: profile/metrics.base.svg
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN_CLASSIC }}
        base: header, activity, community, repositories, metadata

    - name: Most used (with details)
      uses: yobson1/metrics@master
      with:
        filename: profile/details.svg
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN_CLASSIC }}
        base: ""
        repositories_skipped: chatbot-ui, gitHub-readme-stats-clone, PL0-compiler
        plugin_languages: yes
        plugin_languages_ignored: >-
          tex, less, qmake, lex, gnuplot
        plugin_languages_details: bytes-size, percentage
        plugin_languages_limit: 8
        plugin_followup: yes
        plugin_followup_indepth: yes

    - name: Detailed display
      uses: yobson1/metrics@master
      with:
        filename: profile/metrics.plugin.achievements.svg
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN_CLASSIC }}
        base: ""
        plugin_achievements: yes
        plugin_achievements_only: >-
          polyglot, stargazer, sponsor, deployer, member, maintainer, developer,
          scripter, packager, explorer, infographile, manager
